<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Smtp>smtp.163.com</Smtp>
  <Port>25</Port>
  <Sysemail>lqhao2008@1631.com</Sysemail>
  <Username>lqhao2008</Username>
  <Password>198600713</Password>
  <Emailcontent>
		尊敬的用户:

		您好!

		您已在本网店注册成功, 地址为:{weburl}

		感谢您使用{webtitle}的服务, 如果您需要了解更多{webtitle}相关的信息, 请登录我们的网站: {weburl}

		希望您继续支持我们


		{webtitle}
	</Emailcontent>
  <PluginNameSpace>Puream.Plugin.Mail.SysMailMessage</PluginNameSpace>
  <DllFileName>Puream.Plugin.dll</DllFileName>
</EmailConfigInfo>