<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <m_PageSize>30</m_PageSize>
  <m_PledgeWidth>250</m_PledgeWidth>
  <m_PledgeHeight>160</m_PledgeHeight>
  <m_StockOrderPrefix>CG</m_StockOrderPrefix>
  <m_StockBackOrderPrefix>CT</m_StockBackOrderPrefix>
  <m_SaleOrderPrefix>XS</m_SaleOrderPrefix>
  <m_IsIntegrationShop>true</m_IsIntegrationShop>
  <m_IntegralRate>1</m_IntegralRate>
  <CompanyName>钻多多</CompanyName>
  <LabelPriceRate>2.1</LabelPriceRate>
  <MarketPriceRate>4</MarketPriceRate>
  <PageSize>30</PageSize>
  <MaintainGoodsNoSaleTime>0</MaintainGoodsNoSaleTime>
  <MoveGoodsNoSaleTime>0</MoveGoodsNoSaleTime>
  <AttachmentSize>1024</AttachmentSize>
  <PledgeWidth>250</PledgeWidth>
  <PledgeHeight>160</PledgeHeight>
  <StockOrderPrefix>CG</StockOrderPrefix>
  <StockBackOrderPrefix>CT</StockBackOrderPrefix>
  <SaleOrderPrefix>XS</SaleOrderPrefix>
  <SaleBackOrderPrefix>XT</SaleBackOrderPrefix>
  <UserNoPrefix>K</UserNoPrefix>
  <EmployeeCardIDPrefix>E</EmployeeCardIDPrefix>
  <CustomerOrderSnPrefix>YD</CustomerOrderSnPrefix>
  <MoveOrderSnPrefix>ZC</MoveOrderSnPrefix>
  <MantainOrderSnPrefix>WX</MantainOrderSnPrefix>
  <LoanOrderSnPrefix>WJ</LoanOrderSnPrefix>
  <GiftStockOrderSnPrefix>LP</GiftStockOrderSnPrefix>
  <SendConfirmEmail>0</SendConfirmEmail>
  <SendShipEmail>0</SendShipEmail>
  <SendCancelEmail>0</SendCancelEmail>
  <SendInvalidEmail>0</SendInvalidEmail>
  <RequirePaiedNote>1</RequirePaiedNote>
  <RequireUnPayNote>0</RequireUnPayNote>
  <RequireShippedNote>0</RequireShippedNote>
  <RequireReceivedNote>0</RequireReceivedNote>
  <RequireUnShippedNote>0</RequireUnShippedNote>
  <RequireReturnedNote>1</RequireReturnedNote>
  <RequireInvalidNote>0</RequireInvalidNote>
  <RequireCanceledNote>0</RequireCanceledNote>
  <MoneyFormat />
  <PriceRules>0</PriceRules>
  <IsIntegrationShop>true</IsIntegrationShop>
  <IntegralRate>1</IntegralRate>
</GeneralConfigInfo>