<?xml version="1.0" encoding="utf-8"?> 
<pages enableEventValidation="false" validateRequest="false">
  <controls>
    <add tagPrefix="Wjz" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2" />
    <add tagPrefix="Wjz" namespace="Wojoz.UI.Controls" assembly="Wojoz.UI" /> 
    
    <add tagPrefix="Wjz" tagName="UIHeader" src="~/Widgets/UIHeader.ascx"/>
    <add tagPrefix="Wjz" tagName="UIFooter" src="~/Widgets/UIFooter.ascx"/>
 
    <add tagPrefix="Wjz" tagName="Button" src="~/Widgets/Twitter/Button.ascx"/>
    <add tagPrefix="Wjz" tagName="CheckBox" src="~/Widgets/Twitter/CheckBox.ascx"/>
    <add tagPrefix="Wjz" tagName="FileUpload" src="~/Widgets/Twitter/FileUpload.ascx"/>
    <add tagPrefix="Wjz" tagName="Radio" src="~/Widgets/Twitter/Radio.ascx"/>
    <add tagPrefix="Wjz" tagName="Select" src="~/Widgets/Twitter/Select.ascx"/>
    <add tagPrefix="Wjz" tagName="TextArea" src="~/Widgets/Twitter/TextArea.ascx"/>
    <add tagPrefix="Wjz" tagName="TextBox" src="~/Widgets/Twitter/TextBox.ascx"/>

    <add tagPrefix="WjzUI" tagName="Button" src="~/Widgets/UI/Button.ascx"/>
    <add tagPrefix="WjzUI" tagName="CheckBox" src="~/Widgets/UI/CheckBox.ascx"/> 
    <add tagPrefix="WjzUI" tagName="Radio" src="~/Widgets/UI/Radio.ascx"/>
    <add tagPrefix="WjzUI" tagName="Select" src="~/Widgets/UI/Select.ascx"/> 
    <add tagPrefix="WjzUI" tagName="TextBox" src="~/Widgets/UI/TextBox.ascx"/>
    
    <add tagPrefix="Wjz" tagName="Header" src="~/___ADMIN___/Inc/Header.ascx"/>
    <add tagPrefix="Wjz" tagName="Action" src="~/___ADMIN___/Inc/Action.ascx"/>
    <add tagPrefix="Wjz" tagName="Footer" src="~/___ADMIN___/Inc/Footer.ascx"/>
  </controls>
  <namespaces>
    <clear/>
    <add namespace="System"/>
    <add namespace="System.Collections"/>
    <add namespace="System.Collections.Generic"/>
    <add namespace="System.Collections.Specialized"/>
    <add namespace="System.Configuration"/>
    <add namespace="System.Text"/>
    <add namespace="System.Text.RegularExpressions"/>
    <add namespace="System.Web"/>
    <add namespace="System.IO"/>
    <add namespace="System.Web.Caching"/>
    <add namespace="System.Web.SessionState"/>
    <add namespace="System.Web.Security"/>
    <add namespace="System.Web.Profile"/>
    <add namespace="System.Web.UI"/>
    <add namespace="System.Web.UI.WebControls"/>
    <add namespace="System.Web.UI.WebControls.WebParts"/>
    <add namespace="System.Web.UI.HtmlControls"/>
    <add namespace="System.Resources"/>

    <add namespace="Wojoz.BLL"/>
    <add namespace="Wojoz.Data"/>
    <add namespace="Wojoz.Data.SqlServer"/>
    <add namespace="Wojoz.IDAL"/>
    <add namespace="Wojoz.Model"/> 
    <add namespace="Wojoz.Resources"/>
    <add namespace="Wojoz.UI"/>
    <add namespace="Wojoz.Utilities"/>
    <add namespace="Wojoz.Web"/>
  </namespaces>
</pages>
