<?xml version="1.0"?>
<PhotoConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WatermarkText>DTOTO</WatermarkText>
  <FontSize>12</FontSize>
  <WatermarkFontName>微软雅黑</WatermarkFontName>
  <WatermarkStatus>0</WatermarkStatus>
  <WatermarkType>1</WatermarkType>
  <WatermarkImg>logo.gif</WatermarkImg>
  <WatermarkTransparency>5</WatermarkTransparency>
  <ImageQuality>100</ImageQuality>
  <ThumbWidth>160</ThumbWidth>
  <ThumbHeight>160</ThumbHeight>
  <GoodsImgWidth>350</GoodsImgWidth>
  <GoodsImgHeight>350</GoodsImgHeight>
  <GalleryImgWidth>60</GalleryImgWidth>
  <GalleryImgHeight>60</GalleryImgHeight>
</PhotoConfigInfo>