<?xml version="1.0" encoding="utf-8" ?>
<PrivilegeManage xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<BigModule Name="采购管理" Url="StockManage/index.htm"  IsShow="1" IsPrivGroupShow="1" IconID="3" ID="1">
		<Module Name="采购管理" Url="" Value="SGM" IsShow="1" IsPrivGroupShow="1" IconID="2">
			<Function Name="进货单列表" Url="StockManage/StockOrderList.aspx" Value="StockOM" IsShow="1" IsPrivGroupShow="1" IconID="1">
				<Action Name="新增" Value="Stock_Add"></Action>
				<Action Name="编辑" Value="Stock_Edit"></Action>
                <Action Name="审核入库" Value="Stock_Check"></Action>
				<Action Name="导出" Value="Stock_Export"></Action>
                <Action Name="编辑产品" Value="EGoods"></Action>
			</Function>
			<Function Name="添加进货单" Url="StockManage/SaveStockOrder.aspx" Value="Stock_Add" IsShow="1" IsPrivGroupShow="1" IconID="1">
				<Action Name="批量上传产品" Value="BatGoodsIn"></Action>
				<Action Name="打印" Value="StockOrder_Print"></Action>
			</Function>
      <Function Name="上传款式图片" Url="GoodsManage/UploadStylePhotos.aspx" Value="UStyPhotos" IsShow="1" IsPrivGroupShow="1" IconID="1">
          </Function>
      <Function Name="重置产品图片" Url="GoodsManage/ResetGoodsPhotos.aspx" Value="RGPhotos" IsShow="1" IsPrivGroupShow="1" IconID="1">
          </Function>      
      <Function Name="进货退回单" Url="StockManage/StockBackOrderList.aspx" Value="StockBOM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增" Value="AStockBO"></Action>
                <Action Name="打印" Value="PStockBO"></Action>
            </Function>
			<Function Name="供应商列表" Url="SystemManage/SupplierList.aspx" Value="SupplierM" IsShow="1" IsPrivGroupShow="1" IconID="1">
				<Action Name="添加" Value="SupplierAdd"></Action>
				<Action Name="删除" Value="SupplierDelete"></Action>
				<Action Name="禁用" Value="SupplierEndabled"></Action>
				<Action Name="编辑" Value="SupplierEdit"></Action>
			</Function>
      <Function Name="仓库管理" Url="SystemManage/StoreManage.aspx" Value="StoreM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="添加" Value="StoreInfoAdd"></Action>
                <Action Name="删除" Value="StoreInfoDelete"></Action>
                <Action Name="修改" Value="StoreInfoEdit"></Action>
            </Function>
			<Function Name="销货渠道" Url="SystemManage/ShopChannelList.aspx" Value="ShopChM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="添加" Value="AShopCh"></Action>
                <Action Name="编辑" Value="EShopCh"></Action>
                <Action Name="删除" Value="DShopCh"></Action>
			</Function>
    </Module>

    <Module Name="礼品管理" Url="" Value="SGM" IsShow="1" IsPrivGroupShow="1" IconID="2">
      <Function Name="礼品档案" Url="GiftManage/GiftDossierManage.aspx" Value="GiftDM" IsShow="1" IsPrivGroupShow="1" IconID="1">
        <Action Name="新增/编辑" Value="SGIFTD"></Action>        
      </Function>
      <Function Name="礼品进货单管理" Url="GiftManage/GiftStockOrderList.aspx" Value="GiftSTOM" IsShow="1" IsPrivGroupShow="1" IconID="1">
        <Action Name="新增" Value="GStock_Add"></Action>
        <Action Name="编辑" Value="GStock_Edit"></Action>
        <Action Name="审核入库" Value="GStock_Check"></Action>
      </Function>
      <Function Name="礼品转仓" Url="GiftManage/GiftMoveOrderList.aspx" Value="GMOM" IsShow="1" IsPrivGroupShow="1" IconID="1">
        <Action Name="新增转仓单" Value="AGMO"></Action>
        <Action Name="转仓单审核" Value="CGMO"></Action>
        <Action Name="转仓发货" Value="SGMO"></Action>
        <Action Name="转仓收货" Value="RGMO"></Action>
        <Action Name="取消转仓单" Value="CancelGMO"></Action>
        <Action Name="打印转仓单" Value="PGMO"></Action>
      </Function>
      <Function Name="销售统计" Url="GiftManage/GiftSaleList.aspx" Value="GiftSL" IsShow="1" IsPrivGroupShow="1" IconID="1">
      </Function>
      <Function Name="礼品兑换" Url="GiftManage/GiftExchange.aspx" Value="GiftEC" IsShow="1" IsPrivGroupShow="1" IconID="1">
      </Function>
    </Module>
	</BigModule>

	<BigModule Name="销售管理" Url="SaleManage/index.htm" IsShow="1" IsPrivGroupShow="1" IconID="4"  ID="2">
		<Module Name="销售管理" Url="" Value="SOM" IsShow="1" IsPrivGroupShow="1" IconID="5">
			<Function Name="客户管理" Url="SaleManage/UserList.aspx" Value="UserList" IsShow="1" IsPrivGroupShow="1" IconID="1">
        <Action Name="新增客户" Value="AUsers"></Action>
        <Action Name="编辑客户" Value="EUsers"></Action>
        <Action Name="删除客户" Value="DUsers"></Action>
				<Action Name="查看所有客户" Value="LAllUsers"></Action>
				<Action Name="查看自己的客户" Value="LOwnUsers"></Action>
        <Action Name="导出到处客户" Value="ExprotUS"></Action>
        <Action Name="导出准客户" Value="ExportRUS"></Action>
			</Function>
          <Function Name="客户整合" Url="SaleManage/RemoveUserInfo.aspx" Value="UserList" IsShow="1" IsPrivGroupShow="1" IconID="1">
            <Action Name="整合权限" Value="RemoveInfo"></Action>
          </Function>
			<Function Name="销货单管理" Url="SaleManage/SaleOrderList.aspx" Value="SaleOM" IsShow="1" IsPrivGroupShow="1" IconID="1">
				<Action Name="新增销货单" Value="ASaleO"></Action>
				<Action Name="打印保证单" Value="PAssurePaper"></Action>
        <Action Name="导出销售单" Value="ExportSaleOrder"></Action>
			</Function>
            <Function Name="新增销货单" Url="SaleManage/SaveSaleOrder.aspx" Value="ASaleO" IsShow="1" IsPrivGroupShow="0" IconID="1">
            </Function>
            <Function Name="销货退回单管理" Url="SaleManage/SaleBackOrderList.aspx" Value="SaleBOM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增销货退回单" Value="ASaleBO"></Action>
                <Action Name="打印销货退回单" Value="PSaleBO"></Action>
            </Function>
            <Function Name="媒体广告投放" Url="SaleManage/MediaAdsList.aspx" Value="MMAds" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="编辑媒体广告" Value="EMAds"></Action>
                <Action Name="删除媒体广告" Value="DMAds"></Action>
            </Function>

            <Function Name="销货汇总报表" Url="SaleManage/SaleReport.aspx" Value="MSaleRpt" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="打印销货报表" Value="PSaleRpt"></Action>
            </Function>
            <Function Name="销货明细报表" Url="SaleManage/SaleGoodsReport.aspx" Value="MSaleGRpt" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="打印销货明细" Value="PSaleGRpt"></Action>
            </Function>
		</Module>
        <Module Name="预订管理" Url="" Value="COM" IsShow="1" IsPrivGroupShow="1" IconID="5">
            <Function Name="预订单管理" Url="SaleManage/CustomerOrder.aspx" Value="CustomerOM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增预订单" Value="ACusOrder"></Action>
                <Action Name="确认" Value="CO_Confirm"></Action>
                <Action Name="取消" Value="CO_Cancel"></Action>
                <Action Name="无效" Value="CO_Invalid"></Action>
                <Action Name="退货" Value="CO_Return"></Action>
                <Action Name="删除" Value="O_Remove"></Action>
                <Action Name="编辑付款状态" Value="O_E_PS"></Action>
                <Action Name="未发货" Value="CO_UnShip"></Action>
                <Action Name="配货" Value="CO_Prepare"></Action>
                <Action Name="发货" Value="CO_Ship"></Action>
                <Action Name="收货确认" Value="CO_Receive"></Action>
                <Action Name="预订单打印" Value="O_Print"></Action>
                <Action Name="编辑订单信息" Value="O_E_BI"></Action>
                <Action Name="编辑订单产品" Value="O_E_GI"></Action>
            </Function>
            <Function Name="新增预订单" Url="SaleManage/AddCustomerOrderInfo.aspx" Value="ACusOrder" IsShow="1" IsPrivGroupShow="0" IconID="1"></Function>
          <Function Name="发货单打印" Url="SaleManage/ShippingOrderManage.aspx" Value="SOM" IsShow="1" IsPrivGroupShow="0" IconID="1"></Function>
        </Module>
	</BigModule>

    <BigModule Name="库存管理" Url="StorageManage/index.htm" IsShow="1" IsPrivGroupShow="1" IconID="4"  ID="3">
        <Module Name="库存管理" Url="" Value="StorOM" IsShow="1" IsPrivGroupShow="1" IconID="5">
          <Function Name="转仓操作" Url="StorageManage/MoveStorageManage.aspx" Value="MOM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增转仓单" Value="AMO"></Action>
                <Action Name="转仓单审核" Value="CMO"></Action>
                <Action Name="转仓发货" Value="SMO"></Action>
                <Action Name="转仓收货" Value="RMO"></Action>
                <Action Name="取消转仓单" Value="CancelMO"></Action>
              <Action Name="打印转仓单" Value="PMO"></Action>
            </Function>
          <Function Name="维修单管理" Url="StorageManage/MaintainOrderList.aspx" Value="MaintainM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增维修单管理" Value="AMaintain"></Action>
                <Action Name="修改维修单" Value="EMaintain"></Action>
                <Action Name="删除维修单" Value="DMaintain"></Action>
                <Action Name="维修送货" Value="CMaintain"></Action>
                <Action Name="维修完成" Value="FMaintain"></Action>
              <Action Name="取消维修单" Value="CancelMaintain"></Action>
              <Action Name="打印维修单" Value="PMaintainO"></Action>
            </Function>
          <Function Name="外借单管理" Url="StorageManage/LoanOrderManage.aspx" Value="LoanOrderManage" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增外借单管理" Value="AddLoan"></Action>
                <Action Name="修改外借单" Value="EditLoan"></Action>
                <Action Name="删除外借单" Value="DelLoan"></Action>
                <Action Name="审核外借单" Value="CheckLoan"></Action>
            </Function>
          <Function Name="成品库存汇总" Url="Finished/FinishedSumList.aspx" Value="LOnhandGS" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="打印成品库存汇总" Value="POnhandGS"></Action>
          </Function>
          <Function Name="成品库存明细" Url="Finished/FinishedList.aspx" Value="LOnhandG" IsShow="1" IsPrivGroupShow="1" IconID="1">
              <Action Name="打印成品库存明细" Value="POnhandG"></Action>
              <Action Name="导出成品库存明细" Value="ExportOnhandG"></Action>
          </Function>
          <Function Name="售价调整" Url="StockManage/GoodsPriceEdit.aspx" Value="GoodsPriceEdit" IsShow="1" IsPrivGroupShow="1" IconID="1">
            </Function>
          <Function Name="条码中心" Url="StockManage/GoodsBarcodeCenter.aspx" Value="GoodsBarcodeCenter" IsShow="1" IsPrivGroupShow="1" IconID="1">
          </Function>
          <Function Name="款式中心" Url="StorageManage/StyleCenter.aspx" Value="StyleCenter" IsShow="1" IsPrivGroupShow="1" IconID="1">
            </Function>
        </Module>
    </BigModule>

	<BigModule Name="报表统计" Url="Stats/StatOperation.aspx" IsShow="1" IsPrivGroupShow="1" IconID="2"  ID="6">
		<Module Name="报表统计" Url="" Value="ReportManage" IsShow="1" IsPrivGroupShow="1" IconID="6">
            <Function Name="销售排行" Url="Stats/SaleDigg.aspx" Value="SaleDigg" IsShow="1" IsPrivGroupShow="1" IconID="1"></Function>
            <Function Name="销售统计" Url="Stats/SaleSumReport.aspx" Value="VisitSold" IsShow="1" IsPrivGroupShow="1" IconID="1"></Function>
        </Module>
	</BigModule>

	<BigModule Name="控制面板"  Url="SystemManage/SystemConfig.aspx"  IsShow="1" IsPrivGroupShow="1" IconID="8"  ID="7">
		<Module Name="控制面板" Url="" Value="SystemSetting" IsShow="1" IsPrivGroupShow="1" IconID="8">
			<Function Name="系统设置" Url="SystemManage/SystemConfig.aspx" Value="SysConfig" IsShow="1" IsPrivGroupShow="1" IconID="1">
				<Action Name="修改" Value="SysParam_Edit"></Action>
			</Function>
            <Function Name="科目设定" Url="SystemManage/SubjectDetail.aspx?SubjectNo=Material" Value="SubjectS" IsShow="1" IsPrivGroupShow="1" IconID="1"></Function>
            <Function Name="付款结算方式" Url="SystemManage/PaymentList.aspx" Value="PayM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增" Value="APay"></Action>
                <Action Name="编辑" Value="EPay"></Action>
                <Action Name="删除" Value="DPay"></Action>
            </Function>
            <Function Name="配送方式" Url="SystemManage/ShippingList.aspx" Value="ShipM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增" Value="AShip"></Action>
                <Action Name="编辑" Value="EShip"></Action>
                <Action Name="删除" Value="DShip"></Action>
            </Function>
      <Fuction Name="邮箱设置" Url="Mail/EmailConfig.aspx" Value="MailS" IsShow="1" IsPrivGroupShow="1" IconID="1"></Fuction>

      <Fuction Name="系统操作日志" Url="SystemManage/SystemLogManage.aspx" Value="SysLogM" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="删除日志" Value="DSysLog"></Action>
			</Fuction>
      
       <Fuction Name="系统异常日志" Url="SystemManage/ErrorLogList.aspx" Value="ErrorLogList" IsShow="1" IsPrivGroupShow="0" IconID="1"></Fuction>
       <Fuction Name="数据库日志管理" Url="Database/LogAndShrinkDB.aspx" Value="LogAndShrinkDB" IsShow="1" IsPrivGroupShow="1" IconID="1"></Fuction>
      
      <Fuction Name="计划任务" Url="SystemManage/ScheduleManage.aspx" Value="ScheduleM" IsShow="1" IsPrivGroupShow="1" IconID="1">
        <Action Name="编辑" Value="ESchedule"></Action>
        <Action Name="执行" Value="RSchedule"></Action>
      </Fuction>

      <Function Name="意向客户管理" Url="Mail/EmailList.aspx" Value="EmailList" IsShow="1" IconID="1">
        <Action Name="修改" Value="SendEmail1"></Action>
      </Function>
      <Function Name="杂志管理" Url="Mail/MagazineList.aspx" Value="MagazineList" IsShow="1" IconID="1">
        <Action Name="修改" Value="SendEmail1"></Action>
      </Function>
      <Function Name="邮件队列管理" Url="Mail/SendEmailList.aspx" Value="SendEmailList" IsShow="1" IconID="1">
        <Action Name="修改" Value="SendEmail1"></Action>
      </Function>

    </Module>
		<Module Name="权限管理" Url="" Value="PrivManage" IsShow="1" IsPrivGroupShow="1" IconID="8">
			<Function Name="部门档案" Url="SystemManage/DepartmentManage.aspx" Value="DepManage" IsShow="1" IsPrivGroupShow="1" IconID="1">
                <Action Name="新增部门档案" Value="ADep"></Action>
                <Action Name="编辑部门档案" Value="EDep"></Action>
                <Action Name="删除部门档案" Value="DDep"></Action>
			</Function>
			<Function Name="员工管理" Url="SystemManage/EmployeeList.aspx" Value="EmpList" IsShow="1" IsPrivGroupShow="1" IconID="1">
				<Action Name="编辑员工" Value="EEmp"></Action>
				<Action Name="删除员工" Value="DEmp"></Action>
				<Action Name="分配权限" Value="APriv"></Action>
				<Action Name="导出" Value="ExportEmp"></Action>
				<Action Name="打印" Value="PrintEmp"></Action>
			</Function>
      <Function Name="权限组管理" Url="SystemManage/RoleGroupManage.aspx" Value="RoleGroupManage" IsShow="1" IsPrivGroupShow="1" IconID="1">
        <Action Name="新增权限组" Value="AddRole"></Action>
        <Action Name="修改权限组" Value="EditRole"></Action>
        <Action Name="删除权限组" Value="DelRole"></Action>
      </Function>

      <Function Name="权限组转移" Url="SystemManage/RoleGroupReMore.aspx" Value="RoleGroupManage" IsShow="1" IsPrivGroupShow="1" IconID="1">
        <Action Name="管理权限" Value="ManageRole"></Action>
     
      </Function>
      
      <Function Name="修改密码" Url="SystemManage/SaveEditPassWord.aspx" Value="EP" IsShow="1" IsPrivGroupShow="0" IconID="1"></Function>
      
		</Module>

	</BigModule>

</PrivilegeManage>