<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
    <Event key="TaobaoOrderEvent" time_of_day="-1" minutes="5" type="SaleIDO.Event.TaobaoOrderEvent, SaleIDO.Event" enabled="true" is_system_event="true" />
    <Event key="PaipaiOrderEvent" time_of_day="-1" minutes="15" type="SaleIDO.Event.PaipaiOrderEvent, SaleIDO.Event" enabled="true" is_system_event="true" />
    <Event key="EmailSendEvent" time_of_day="-1" minutes="60" type="SaleIDO.Event.EmailSendEvent, SaleIDO.Event" enabled="true" is_system_event="true" />
    <Event key="UserInfoSynchronizeEvent" time_of_day="-1" minutes="1440" type="SaleIDO.Event.UserInfoSynchronizeEvent, SaleIDO.Event" enabled="true" is_system_event="true" />
  </events>
  <minutes_interval>5</minutes_interval>
</ScheduleConfigInfo>