<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--站点配置-->
  <add key="SiteName" value="蜗居族" />
  <add key="SiteNameEN" value="Wojoz" />
  <add key="SiteDomain" value="wojoz.com" />
  <add key="Description" value="蜗居族(wojoz.com)为城市蜗居一族提供租房,搬家,物品转让,吃喝玩乐实用信息等全方位高体验服务" />
  <add key="Keywords" value="蜗居族 wojoz.com" />
  <add key="Skin" value="default" />
  <add key="Theme" value="default" />
  <add key="WebDAL" value="Wojoz.Data.SqlServer" />
  <add key="ResetDefaultPWD" value="888888"/>
  <!--点击统计时间间隔(单位分钟)-->
  <add key="ClickStatInterval" value="1"/>
  <!--网站邮箱配置-->
  <add key="EnableActiveEmail" value="false" />
  <!--是否开启注册激活Email邮件-->
  <add key="SMTPAuthUsername" value="aNd1coder@gmail.com" />
  <add key="SMTPAuthPassword" value="123" />
  <add key="SMTPAuthDomain" value="http://www.wojoz.com/" />
  <!--资源文件目录配置-->
  <add key="WebResourcesRoot" value="/" />
  <add key="WebResourcesUrlPrefix" value="http://www.wojoz.com/" />
  <add key="WebScriptsResources" value="js/" />
  <add key="WebResourcesVersionPrefix" value=".min" />
  <add key="WebStylesResources" value="css/" />
  <!--在线编辑器配置-->
  <add key="HtmlEditorProvider" value="FckEditor" />
  <add key="FCKeditor:BasePath" value="/editors/fckeditor/" />
  <add key="FCKeditor:UserFilesPath" value="/upload/editor" />
  <add key="FCKeditor:MaxWidthOfUploadedImg" value="650" />
  <add key="FCKeditor:FolderPattern" value="%y/%m-%d/" />
  <add key="FCKeditor:FilenamePattern" value="%guid.%extl" />
  <add key="FCKeditor:UploadedFilesDomain" value="http://www.wojoz.com/" />
  <add key="FCKeditor:ImageUploadAssembly" value="Wojoz.Utilities,Wojoz.Utilities.FCKImageUploader" />
  <add key="FCKeditor:MaxFileSize" value="10240" />
  <add key="UploadImageExtensionConfig" value=".jpe,image/jpeg|.jpeg,image/jpeg|.jpg,image/jpeg|.jpg,image/pjpeg|.gif,image/gif|.bmp,application/x-MS-bmp|.png,image/png|.png,image/x-png" />
  <add key="WaterMarkPath" value="~/upload/watermark.gif" />
  <add key="TempFolder" value="~/upload/temp/" />
</appSettings>