<?xml version="1.0" encoding="utf-8"?>
<RewriterConfig>
  <Rules>
    <RewriterRule>
      <LookFor>~/Default\.htm</LookFor>
      <SendTo>~/Default.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Aboutus\.htm</LookFor>
      <SendTo>~/aboutus.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/Default.htm</LookFor>
      <SendTo>~/Product/Default.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Category\/(.*?)\-c(\d{1,6})\-(\d{1,6}).htm</LookFor>
      <SendTo>~/Product/ProductList.aspx?NodeId=$2&amp;p=$3</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Category\/(.*?)\-c(\d{1,6}).htm</LookFor>
      <SendTo>~/Product/ProductList.aspx?NodeId=$2</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Category\/c(\d{1,6})\-(\d{1,6}).htm</LookFor>
      <SendTo>~/Product/ProductList.aspx?NodeId=$1&amp;p=$2</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/Gold.htm</LookFor>
      <SendTo>~/Product/Gold.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/DiamondCustomize.htm</LookFor>
      <SendTo>~/Product/DiamondCustomize.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/DesignCustomize.htm</LookFor>
      <SendTo>~/Product/DesignCustomize.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/RingCustomize.htm</LookFor>
      <SendTo>~/Product/RingCustomize.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/ConfirmCustomize.htm</LookFor>
      <SendTo>~/Product/ConfirmCustomize.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/SpecialDiamond.htm</LookFor>
      <SendTo>~/Product/SpecialDiamond.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/Diamond\/(\d{1,6})\.htm</LookFor>
      <SendTo>~/Product/DiamondDetail.aspx?DiamId=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Product/Patti\-Jewelry\-c(\d{1,6})\-(\d{1,6})\.htm</LookFor>
      <SendTo>~/Product/ProductRelease.aspx?NodeId=$1&amp;ProId=$2</SendTo>
    </RewriterRule>
    <!--Service-->
    <RewriterRule>
      <LookFor>~/Service/CertificateQuery.htm</LookFor>
      <SendTo>~/Service/CertificateQuery.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/DeliveryGuide.htm</LookFor>
      <SendTo>~/Service/DeliveryGuide.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/SecurityPay.htm</LookFor>
      <SendTo>~/Service/SecurityPay.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/ShippingArea.htm</LookFor>
      <SendTo>~/Service/ShippingArea.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/ShoppingGuide.htm</LookFor>
      <SendTo>~/Service/ShoppingGuide.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/Help.htm</LookFor>
      <SendTo>~/Service/Help.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/Aboutus.htm</LookFor>
      <SendTo>~/Service/Aboutus.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/AfterService.htm</LookFor>
      <SendTo>~/Service/AfterService.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/MemberRegion.htm</LookFor>
      <SendTo>~/Service/MemberRegion.aspx</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/Service/Topic\-(\d{1,6})\.htm</LookFor>
      <SendTo>~/Service/Topic.aspx?p=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/Topic\-c(\d{1,6})\.htm</LookFor>
      <SendTo>~/Service/Topic.aspx?NodeId=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/Topic\-c(\d{1,6})\-(\d{1,6})\.htm</LookFor>
      <SendTo>~/Service/Topic.aspx?NodeId=$1&amp;p=$2</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/Topic\-c(\d{1,6})\-(\d{1,6})\.htm</LookFor>
      <SendTo>~/Service/TopicRelease.aspx?NodeId=$1&amp;TopicId=$2</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Service/Topic\-c(\d{1,6})\-(\d{1,6})\-(.*?)\.htm</LookFor>
      <SendTo>~/Service/TopicRelease.aspx?NodeId=$1&amp;TopicId=$2</SendTo>
    </RewriterRule>
    <!--体验中心-->
    <RewriterRule>
      <LookFor>~/Experience/Shenzhen\.htm</LookFor>
      <SendTo>~/Experience/default.aspx?NodeId=1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Experience/Beijing\.htm</LookFor>
      <SendTo>~/Experience/default.aspx?NodeId=2</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Experience/Shanghai\.htm</LookFor>
      <SendTo>~/Experience/default.aspx?NodeId=3</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Experience/Nanjing\.htm</LookFor>
      <SendTo>~/Experience/default.aspx?NodeId=4</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Experience/Guangzhou\.htm</LookFor>
      <SendTo>~/Experience/default.aspx?NodeId=5</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/SouthAfricaDiamond\.htm</LookFor>
      <SendTo>~/Special/SouthAfricaDiamond.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/BestProducts.htm</LookFor>
      <SendTo>~/Special/BestProducts.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/BeautyDiamondSeries.htm</LookFor>
      <SendTo>~/Special/BeautyDiamondSeries.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/DazzleColourSeries\.htm</LookFor>
      <SendTo>~/Special/DazzleColourSeries.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/ChavmingLady.htm</LookFor>
      <SendTo>~/Special/ChavmingLady.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/SincereLoveSeries\.htm</LookFor>
      <SendTo>~/Special/SincereLoveSeries.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/Gifts4Register\.htm</LookFor>
      <SendTo>~/Special/Gifts4Register.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/TheMidAutumnFestival2010\.htm</LookFor>
      <SendTo>~/Special/TheMidAutumnFestival2010.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/Special/EventsSection\.htm</LookFor>
      <SendTo>~/Special/EventsSection.aspx</SendTo>
    </RewriterRule>
  </Rules>
</RewriterConfig>
