/***************************************************
    .sideBar
***************************************************/
#contentwarper { width: 750px; float: left; margin-bottom: 29px; }
.navCorner { width: 170px; margin: 0 0 15px 26px; }
.navCornerT { background: url(../images/tit02.jpg) no-repeat; font-size: 13px; font-weight: bold; text-indent: 30px; line-height: 27px; width: 170px; }
.navCornerM { width: 168px; border-top: solid 1px #e2e1e1; border-left: solid 1px #e2e1e1; border-right: solid 1px #e2e1e1; background: #fbfbfb; padding-bottom: 25px; }
.navCornerB { background: url(../images/gl_bottom.jpg) no-repeat; width: 170px; height: 2px; }
.navCornerM ul { background: url(../images/fgxan.gif) repeat-y 6px 11px; }
.navCornerM ul li { line-height: 30px; width: 120px; margin-left: 45px; }
.navCornerM em { color: red; }
.zhunr { width: 742px; margin: 10px 0 0 8px; }
.grxx { width: 740px; border: solid 1px #e2e1e1; height: 162px; margin-bottom: 18px; background: #f9f8f8; float: left; }
.touxian { margin: 21px 0 0 10px; background: url(../images/fgx_08.jpg) no-repeat right 0; width: 385px; float: left; }
.geren { float: left; padding: 5px 0 20px 10px; }
.jygl { float: left; padding: 5px 0 20px 0px; width: 200px; }
.geren p { line-height: 27px; width: 282px; }
.jygl p { line-height: 27px; width: 250px; float: left; }
.geren b, .jygl b { color: #8a1300; font-weight: normal; }
.geren .xx, .jygl .xx { font-weight: bold; }
.tou { float: left; width: 70px; }
.jiaoyi { margin: 21px 0 0 14px; width: 300px; float: left; }
.jy_pro { float: left; margin-top: 10px; width: 74px; }
.dingdan { width: 742px; float: left; }
.dd_tit { width: 742px; background: url(../images/tit05.jpg) no-repeat; font-size: 13px; font-weight: bold; text-indent: 30px; line-height: 29px; }
.dd_mail { width: 740px; border-top: none; border-left: solid 1px #e2e1e1; border-right: solid 1px #e2e1e1; float: left; }
.dd_mail dl { margin: 32px 0 30px 0; list-style: none; float: left; width: 65px; padding-right: 21px; margin-left: 19px; line-height: 34px; }
.dd_mail .f dd { width: 150px; }
.dd_mail dt { width: 65px; color: #3d3d3d; }
.dd_mail dd { width: 65px; }
.dd_mail .PagerNavBar{ padding:10px 0 0 0; border-top:1px solid #E2E2E2; margin-top:30px;}
.dd_mail .PagerNavBar a{ background:none; width:auto;}
.dd_mail .PagerNavBar a,.dd_mail .PagerNavBar span{margin-right:5px;}
.dd_bottom { width: 742px; background: url(../images/bottom06.jpg) no-repeat; height: 2px; float: left; }
/*会员注册*/
.formList { padding: 20px 10px 10px 10px; }
.formList input { cursor: text; }
.formList li { float: left; width: 100%; padding: 4px 0; }
.formList li label { float: left; width: 220px; margin: 7px 10px 0 0; text-align: right; }
.formList li img { float: left; margin-left: 10px; }
.formList li input { float: left; padding: 4px 0 0 5px; height: 18px; width: 215px; border: 1px solid #aaa; }
#validator { width: 125px; }
.formList li em { float: left; margin: 0 0 0 10px; width: 240px; font-style: normal; color: #696969; }
.formList li .pwdStrength { float: left; margin: 0 0 0 10px; color: #696969; }
.formList li .pwdStrength span { float: left; margin: 2px 2px 0 0; border: 1px solid #235b02; width: 18px; height: 8px; line-height: 8px; }
.formList li .pwdStrength span.pwdGood { background: #8ada00; }
.formList .btnArea { text-align: left; margin: 10px 0; text-indent: 135px; }
.formList .btnArea p{ margin-top:10px;} 
.formList .btnArea a {margin-left:15px;background: url(../images/dian.jpg) no-repeat left center; padding-left: 8px; }
.formList .getBack{ margin-top:20px;}
.formList .getBack input,.formList .getBack a,.formList .getBack label{ float:left;}
.formList .getBack label{ padding-top:8px;}
.formList .getBack input{margin:9px 3px 0 20px;*margin:3px 0 0 20px;vertical-align:middle;}
.formList .getBack a{ margin-left:200px;_margin-left:95px; }
.register-tip { line-height: 1.6em; border: 1px solid #CCC; background: #FAFBFC; padding: 5px 10px; margin-top: 20px; }
/*Shopping*/
#shoppingPanel h1 { margin: 10px 0; font-size: 16px; color: #f60; }
.noItemAlert { background: #FFF7D3 none repeat scroll 0 0; border: 1px solid #541C1F; line-height: 150%; padding: 10px; }
.noItemAlert h4 { color: #1e4c9a; font-weight: normal; font-size: 12px; }
.noItemAlert span { padding-right: 6px; }
.noItemAlert p { padding-left: 20px; }
.noItemAlert a { color: #1e4c9a; }
.noItemAlert a:hover { color: #f60; }
.noItemAlert .firstAlert { border-bottom: 1px dashed #D7D7D7; margin-bottom: 8px; padding-bottom: 8px; }
.shopCart { width: 100%; border-collapse: collapse; border: 1px solid #541C1F; border-width:1px 0 1px 0;margin: 10px 0; }
.shopCart th { padding: 0 10px; height: 26px; line-height: 26px; background: #FFF7D3; text-align: center; color:#561E1F;}
.shopCart td { text-align: center;border-bottom: 1px solid #EEE; padding: 5px; }
.closeSale { width: 100%; overflow: hidden; clear: both; margin: 10px 0; }
.closeSale p { float: right; margin: 10px; padding: 5px; border: 1px solid #FFBA03; background: #FFFEE2; text-align: left; width: auto; }
.closeSale .button { float: left; display: inline; margin: 0 10px 0 10px; }
.closeSale .buttonE { float: right; margin: 0 10px 0 10px; display: inline; }
#cartContainer ul { float: right; }
#cartContainer p{ margin:10px 0;}
#cartContainer input { text-align: center; margin: 0 5px; height: 16px; }
#cartContainer .plus, #cartContainer .minus { width: 9px; height: 9px; line-height: 9px; font-family: Arial; }
.plus:hover, .minus:hover { text-decoration: none; }
#cartContainer .tip1 { margin-top:0;width: 80px; padding: 2px; border: 1px solid #FF6600; color: #FF6600; font-weight: bold; text-align: center; background: #FEF7DC; }
.coupon { width: 50%; }
.total { padding: 10px 0; width: 100%; margin-top:20px; }
#clearCart { margin-left: 10px; }
.coupon { text-align: left; padding-left: 10px; }
.coupon input { height: 20px; margin: 0 10px; vertical-align: middle; }
.priceContainer { width: 200px; }
.priceContainer li { height: 20px; line-height: 20px; }
.priceContainer b{ font-size:18px; font-weight:bold;}
#applyCoupon { width: 100px; }
.take-tip em{ color:Red; margin-left:5px;}
/*PersonalInfo*/
#accountContent { margin-bottom: 10px; }
#accountContent .form li ins { padding: 0 3px; font-size: 12px; text-decoration: none; font-weight: bolder; color: #5AA200; }
#accountContent a { color: #1e4c9a; }
#accountContent a:hover { color: #f60; }
#accountContent h3 { margin-top: 10px; border: 1px solid #DBDBDB; font-size: 14px; color: #F60; }
#accountContent h3 span { padding: 0 10px 0 10px; display: block; height: 26px; line-height: 26px; }
#accountContent h3 em, #accountContent h3 ins { font-size: 12px; font-weight: normal; text-decoration: none; }
#accountContent h3 em { font-style: normal; color: #424041; }
#accountContent ul{ margin-left: 10px; } 
#accountContent li{ list-style: decimal outside; }
#accountContent li{ margin-bottom: 3px; line-height: 150%; }
#accountContent .formInput li { height: 30px; }
#accountContent .formInput label, #accountContent .formInput strong, #accountContent .formInput em, #accountContent .formInput span, #accountContent .formInput strong { margin-top: 2px; }
#accountContent .form { border: 1px solid #DBDBDB; border-top: 0; background: #FFF; }
#accountContent .form ul { clear: both; float: left; margin: 0; padding: 10px 0; width: 100%; }
#accountContent .form li { float: left; width: 100%; }
#accountContent .form li label { float: left; padding-right: 5px; width: 100px; text-align: right; cursor: pointer; }
#accountContent .form li textarea { float: left; margin-right: 10px; padding: 2px 0 2px 5px; width: 500px; height: 65px; border: 1px solid #aaa; font-size: 13px; }
#accountContent .form li em, #accountContent .form li span{ float: left; margin-right: 0; font-style: normal; color: #696969; }
#accountContent .form li span { margin-right: 5px; }
#accountContent .form li input { float: left; margin-right: 10px; padding: 2px 0 2px 5px; width: 190px; border: 1px solid #aaa; }
#accountContent .form li input.address { width: 400px; }
#accountContent .form li select { float: left; margin-right: 10px; font-size: 12px; } 
#personalInfoCellForm input{ height:18px; padding:0 2px;}
.mailSuccess { text-align: center; }
#CheckOrderPanel h1, #salesOrderBalancePanel h4 { color: #f60; font-weight: bold; font-size: 16px; margin-bottom: 10px}
.OrderContainer h4 a, #salesOrderBalancePanel h4 a { font-size: 12px; }
.OrderContainer h3 { border-bottom: 1px solid #EEE; padding: 8px 10px; font-size: 13px; }
.OrderContainer h4 { font-size: 14px; font-weight: bold; margin-bottom: 10px; }
#btnAddShippingInfo a, #btnEditShippingInfo a { width: 150px; margin-left: 350px; }
.InnerBox { padding: 10px; padding-left: 0; }
.ShipForm label { width: 115px; display: inline-block; text-align: right; } 
.InnerBox label { padding-top: 3px; }
.InnerBox li { height: 22px; padding-top: 8px; }
.InnerBox input { vertical-align: middle; height: 16px; padding: 1px 3px; }
.InnerBox em { color: #f60; }
#PayPlatform input { padding: 0; vertical-align: middle; }
#PayPlatform img { margin-right: 15px; vertical-align: middle; cursor: pointer; }
#salesOrderBalancePanel { border: #d7d7d7 3px solid; padding:10px; margin-top: 10px; }
.closeSale { margin-top: 10px; }
#orderDataTable { width: 100%;}
#orderDataTable th { background: #F1F1F1; border-bottom: none; border-top: 1px solid #F1F1F1; }
#orderDataTable td, #orderDataTable th { height: 30px; line-height: 30px; padding: 0 5px; border-bottom: 1px solid #CCC; text-align: center; }
.finalPrice { margin: 10px 0; width:100%; }
.couponBox { width: 350px; }
.priceBox { width: 150px; font-weight:bold; }
.orderMemo input { vertical-align: middle; width: 480px; padding: 2px 4px; }
.orderMemo { width: 700px; height:35px;}
.chrome .orderMemo input {margin-top: -5px;}
.totalPrice { width: 250px; margin-top: 2px; text-align: right; margin-top: 20px; }
.payMoney {background:url(../images/beizhu_bj.gif) no-repeat;line-height:34px; text-indent:15px; color:#333; width:710px;margin-top:20px;margin-left:5px;}
.payMoney label{ text-indent:0;} 
.payMoney .clearfix{ width:99%; margin-left:-10px;}
.goldprice-tip{margin-top:20px;}
.goldprice-tip em{ color:#f60;}
.couponBox a { color: #F60; }
.couponBox input { vertical-align: middle; height: 21px; margin-right: 10px; }
#morePoint { margin: 10px 0; }
#divInvoice {line-height: 35px; }
#divInvoice input { margin-top: 6px; }
#divInvoice label, #divInvoice input, #divInvoice div { float: left; margin-right: 5px; }
#divInvoice label { height: 30px; line-height: 30px; }
#divInvoice b,.sp_mail b{ color:Red;}
#InvoiceTitleBox { width: 500px; text-align: left; }
#InvoiceTitleBox span { margin-top: 5px; }
.ShipForm { padding-bottom: 15px; }
.ShipForm input, .ShipForm select { border: 1px solid #DCC464; }
.ShipForm label, .ShipForm input, .ShipForm select, .ShipForm em,.ShipForm b{ float: left; } 
.ShipForm em,.ShipForm b{ margin-top:5px;}
.ShipForm b{ margin-left:5px;}
.ShipForm select { margin-right: 10px; }
.ShipForm em { width: auto; margin-left: 5px; }
#cbBeOurVIP { margin-top: 5px; }
.btnGernerator { width: 120px; height: 29px; display: inline-block; background: url(../images/qdzf_an.jpg ) no-repeat; }
.accountContent{ margin-top:10px;}
.accountContent dd{ height:1%; overflow:hidden;}
.accountContent dd{border:1px solid #CCC;border-top:none; }
.accountContent .dom_tabs_selected{ background-color:#FAFBFC;}
.accountContent dt a{ display:inline-block;height:25px; border:1px solid #CCC; border-bottom:none; width:auto; padding:0 10px; text-align:center; line-height:25px; cursor:pointer; color:#424041;}
/*我的订单*/
.dataGridViewPanel table { width: 100%; }
.dataGridViewPanel .highlight { background-color: #FFF8E6; }
.dataGridViewPanel .txtLeft { text-align: left; }
.dataGridViewPanel th, .dataGridViewPanel td { height: 34px; line-height: 34px; border-bottom: 1px dashed #EEE; text-align: center; }
.dataGridViewPanel th, .dataGridViewPanel .tableHead { background: #F1F1F1; border-bottom: none; }
.dataGridViewPanel em { color: Green; }
.dataGridViewPanel del { color: Red; } 
.dataGridViewPanel a:hover{ color:#8D0709;text-decoration:underline;}
.v td, .v th { height: 25px; line-height: 25px; }
.v th { background-color: #561E1F; color: #FFF; }
.v { background-color: #FAFBFC; } 
#orderStatus,.paysuccess .orderStatus{ margin-bottom: 10px; height: 1%; overflow: hidden; }
#orderStatus li,.paysuccess .orderStatus li{ line-height: 25px; }
#orderStatus h3,.paysuccess .orderStatus h3{background:url(../images/wode_tit.gif) no-repeat;text-indent:67px; line-height:32px; color:#710700; font-size:14px; font-weight:bold;}
#orderStatus .clearfix,.paysuccess .orderStatus .clearfix{ border:#dcc464 1px solid;border-top:none;padding: 20px 10px;width:97.1%;}
#orderStatus .clearfix{background:#FFFCF5; }
.paysuccess .orderStatus li{ border-bottom:1px dotted #B4B4B4;}
.checkoutBox span, .checkoutBox label { display: inline-block; height: 25px; line-height: 25px; }
.txtTop td b{ color:#8D0709;}
.shipment { width: 200px;}
.shipment li{ margin-left:10px;}
.shipment li label,.payment li label{ color:#A80508;}
.payment { width: 400px; }
.payment b{ font-weight:bold; font-size:14px; color:#f60; margin-left:15px;}
.orderStatus label,.OrderInfoPanel label { margin-right:10px; color:#7A0800;}
.payment .btnPayNow { margin-left:10px;display:inline-block;background:url(../images/btnPayNow.jpg) no-repeat; width:117px; height:34px; padding-top:3px;color:#FDE792; font-weight:bold; font-size:15px; text-indent:2.5em;*text-indent:3em; cursor:pointer; text-decoration:none;}
.payment li{ height:1%; overflow:hidden;}
.payment li b{ float:left;}
.payment li a{ float:right;}
.payment li.payAction{ padding-top:15px;margin-top:15px; border-top:1px solid #561E1F;}
.orderContent { line-height: 2em; width:750px;}
.noBorder .orderContent {width:738px;}
.orderContent li a,.orderContent td a:hover{ text-decoration:underline;color:#9A3332;}
#Favorable li span{ margin-right:25px;}
#Favorable li b{ color:#561E1F; font-weight:bold;}
.checkoutBox { margin-bottom: 20px}
.btnControl { padding: 20px 0; }
.btnControl a { margin: 0px 125px;_margin: 0 50px; } 
.checkoutBox label { width: auto; display: inline; }
.checkoutBox h4{ background:url(../images/wode_tit2.gif) no-repeat; line-height:24px; text-indent:23px; color:#710700; font-size:14px; font-weight:bold; margin-bottom:10px;}
.shippingAddressContentInfo{ height:85px;}
.shippingAddressContentInfo li { width: 300px; float: left; }
.shippingAddressContentInfo li b{ color:#561E1F;} 
.accountTable { width: 100%;}
.accountTable td,.accountTable th{ border-bottom:1px dotted #D9C45F; height: 30px; line-height: 30px; padding-left:15px; text-align:center;}
.ItemPanel{background:url(../images/ming_center.gif) repeat-y; padding:10px; margin:-10px 0 -15px 0;}
.accountTable thead{ background:#F6EDCA;color:#7D0800;}
.priceArea { text-align: right; font-weight:bold; margin-top:10px;}
.priceArea b{ color:#7A0800; margin-right:10px;} 
.CmtReply { text-align: left; padding: 2px 5px;}
.CmtReply p { text-align: left; margin: 5px 0; width: 100%; }
.CmtReply .Replys { background-color: #F1F1F1; text-align: left; padding: 2px 5px; border: 1px solid #C19D51; }
.dataGridViewPanel .plus { float: left; margin-left: 5px; margin-top: 12px; }
.dataGridViewPanel .Replys .ar { color: Red; }
.dataGridViewPanel .Replys span{ color:#000;}
.dataGridViewPanel .Replys em{ color:#666;}
.dataGridViewPanel .vb, .dataGridViewPanel .vn { text-align: left; }
.dataGridViewPanel .vb { font-weight: bold; } 
.btnControl #btnEdit, .btnControl #btnOrderCanceled{  width:83px; text-align:center; line-height:26px; display:block;}
.btnControl #btnEdit{background:url(../images/xiugai_an.gif) no-repeat; color:#830901;}
.btnControl #btnOrderCanceled{background:url(../images/xiugai_an2.gif) no-repeat; color:#f0dc8a;}
.btnControl a:hover{ text-decoration:underline;}
/*订单确认*/
.tabHead a:hover { text-decoration: none; }
#tabCot_delivery .tabHead li { height: 34px; line-height: 34px; padding: 0; }
.zf_tit { width: 742px; background: url(../images/zhufu.jpg) no-repeat; height: 26px; text-indent: 22px; font-size: 14px; color: #710700; font-weight: bold; margin-bottom: 5px; line-height: 20px; }
.zf_mail { width: 742px; margin: 18px 0 0 4px; }
.zf_mail .tabCot{ width:740px;}
.kd_tit { width: 742px; background: url(../images/kd_bj.jpg) repeat-x 0 bottom; float: left; height: 34px; }
.kd_tit li { float: left; }
.kuai a { width: 172px; background: url(../images/qichu02.jpg) no-repeat; text-align: center; display: block; line-height: 34px; font-weight: bold; }
.ti a { width: 172px; background: url(../images/qichu.jpg) no-repeat; text-align: center; display: block; line-height: 34px; font-weight: bold; }
.kd_tit a:hover, .currentBtn a { width: 172px; background: url(../images/qichu_hover.jpg) no-repeat; text-align: center; display: block; line-height: 34px; color: #710700; }
#ShippingAddressContentPanel .tabCot { border: #dcc464 1px solid; border-top: none; padding: 15px 0; }
.zf_nr { width: 732px; border: solid 1px #dcc464; border-top: none; float: left; }
.shou { color: #710700; margin-left: 23px; font-weight: bold; }
.shou b { font-weight: normal; color: #666; margin-left: 10px; }
.xingming { padding: 32px 0 0 54px; float: left; width: 600px; }
.ti_di { width: 716px; background: url(../images/kuai_fgx.jpg) repeat-x 10px top; margin: 5px 0 0 4px; }
.ti_tupian { width: 215px; margin: 40px 0 0px 18px; float: left; background: #ededed; }
.xia_pro { width: 109px; border: solid 1px #dbd9d9; margin: 2px; float: left; }
.ti_address { background: url(../images/tiyan_fgxjpg.jpg) no-repeat left 0; width: 400px; float: left; padding: 18px 0 60px 20px; margin: 20px 0 0px 35px; }
.ti_address b{ color:#242424;}
.ti_address p { line-height: 21px; margin-left: 28px; }
.input05, .input06, .input07 { width: 110px; height: 18px; border: 0; vertical-align: middle; border: solid 1px #dcc464; }
.mi { color: #710700; font-weight: normal; }
.dianhua { float: left; margin: 21px 0 0 4px; background: url(../images/kuai_fgx.jpg) repeat-x 10px bottom; width: 716px; }
.dianhua p { margin: 10px 0 0 72px; }
.dianhua .dz { margin: 0 0 22px 60px; }
.shouhuo { width: 700px; margin-top: 22px; float: left; }
.checkbox1 { border: solid 1px #b79818; border: 0; }
.gozuo { margin-left: 175px; }
.gozuo p { padding-top: 7px; }
.liuyan { margin: 7px 0 30px 125px; }
.liuyan #content { border: solid 1px #dcdddd; width: 500px; }
.liuyan p { margin: 7px 0 0 45px; }
.fukuan { margin-top: 25px; width: 742px; float: left; }
.lh_anniu { width: 742px; background: url(../images/sh_bj.jpg) repeat-x 0 bottom; float: left; }
.lh_anniu ul { margin: 25px 0 0 21px; }
.lh_anniu li { float: left; padding-right: 4px; }
.lh_anniu a { background: url(../images/sh_anniu.jpg) no-repeat; width: 130px; display: block; text-align: center; line-height: 39px; font-weight: bold;margin-bottom:-3px;*margin-bottom:0px;}
.lh_anniu a:hover, .lh_anniu .Hover a { background: url(../images/sh_hover.jpg) no-repeat; width: 139px; display: block; text-align: center; line-height: 39px; font-size: 14px; color: #710700; }
.sp_tit2 { background: url(../images/kuai_fgx.gif) no-repeat 8px 8px; height: 30px; text-indent: 25px; width: 740px; color: #710700; float: left; margin-top: 10px; }
.sp_tit1 { background: url(../images/kuai_fgx.gif) no-repeat 8px 16px;text-indent: 25px; width: 740px; color: #710700; float: left; margin-top: 10px; padding-bottom:10px;}
.sp_tit1 b { font-size: 24px; font-weight: bold; color: Red; font-family: Helvetica; }
.sp_tit1 #rdDepositPayout{ margin-left:78px;} 
.pay-way {border:1px solid #8D3D3E; background:#FFFAEF; padding-bottom:10px; margin-top:20px;}
.pay-way .TakeDate input{ border:1px solid #710700; height:18px; padding:0 5px;}
.sp_tit1 p{padding:10px; text-align:left; text-indent:1em;}
.sp_tit1 p b{margin:0 5px;}
.sp_tit1 p input{ margin-top:-5px;}
.sp_tit1 p label,.sp_tit1 p b{font-size:15px; font-weight:bold; font-family:Helvetica;}
.sp_tit1 em{ color:#f60; font-weight:bold;}
.TakeDate{ margin-top:15px; text-indent:20px;}
.lh_nr {width: 740px; float: left; margin: 20px 0; float: left; }
.sp_mail { margin: 10px 0 24px 34px; float: left; line-height: 2em; padding: 10px 0; }
.shanping .sp_mail{ width:700px;}
#PayPlatform img { margin: 10px 0; }
.shanping, .jies { width: 742px; float: left; margin-top: 23px; }
.jies { margin-bottom: 50px; }
.sp_tit { width: 742px; background: url(../images/jiesuan_tit.jpg) no-repeat; text-indent: 26px; color: #710700; font-size: 14px; font-weight: bold; line-height: 26px; }
.input07 { width: 134px; }
.sp_mail span { float: left; margin-left: 20px; }
.sp_mail span a { background: url(../images/yhj_an.jpg) no-repeat; text-align: center; line-height: 23px; width: 82px; display: block; color: #f3df8d; }
.sp_mail span a:hover { text-decoration: underline; }
.jie_mail3 { width: 600px; float: left; }
.peisong { margin: 20px 0 0 74px; text-align: center; font-size: 14px; font-weight: bold; width: 600px; }
.peisong b { font: 16px Arial; color: #974944; }
.queding { margin: 20px 0 0 300px; }
#PayTotalAmount { color: Red; font-family: Arial; font-size: 18px; }
#logistics b{ margin-right:20px;}
.itemName img { margin:10px 0; vertical-align:middle; margin-right:5px;}
#orderDataTable .itemName,.accountTable .itemName,.dataGridViewPanel .itemName{ text-align:left; padding-left:10px; width:250px;}
.btnPrint{ background:url(../images/daying_an.gif) no-repeat; display:block; width:112px; height:32px;}
.orderStatus em{ margin-left:45px;} 
#infocol label,#infocol1 label{ display:inline-block; width:200px;}
#infocol li,#infocol1 li{ height:30px; line-height:30px;}
/*取消订单弹出窗口*/
.cancelBox { border: 5px solid #666; cursor: default; padding-bottom: 15px; color: #565656; width:416px; height:250px; background:#FFF;}
.cancelBox h4 { height: 25px; line-height: 25px; text-align: left; background: #CCC; color: #8c311d; font-weight: bold; text-indent: 0.5em; }
.cancelBox .col { margin: 10px; text-align: left; padding-left: 3px; }
.cancelBox .col select { margin-left: 5px; width: 200px; vertical-align: middle; }
.cancelBox .col p { height: 25px; line-height: 25px; text-align: left; color: #8c311d; }
.cancelBox .col input { width: 385px; height: 70px; }
.cancelBox .col em { margin: 5px 0; margin-left: 275px; }
.cancelBox .oAction { margin-top: 15px; text-align: center;*padding-left: 80px; }
.cancelBox .oAction a { float: left; margin-left: 25px; color: #8c311d; }
/*我的购物车*/
#cartContainer .editPanel{ position:relative;z-index:9; height:20px;}
#cartContainer .corner{position:absolute; top:-50px; right:0; z-index:2;background:#F4F4F4;}
#cartContainer .corner,.letterPanel a.btn{width:30px; height:20px; text-align:center; line-height:20px;}
#cartContainer .corner a{ color:#D9DADC;}
#cartContainer .corner a:hover{ color:#561E1F;}
#cartContainer .letterPanel{ text-align:left; padding:10px;display:none; position:absolute; width:182px;left:0;top:-50px; border:1px solid #581E1C; background:#FFF;z-index:10;}
#cartContainer .letterPanel a{ color:#581E1C; text-decoration:underline;} 
#cartContainer .letterPanel a.btn{display:inline-block;color:#FFF;padding:0 5px;background:#581E1C;text-decoration:none;}
#cartContainer .letterPanel a.btn:hover{text-decoration:none;}
#cartContainer .letterPanel input{ text-align:left; vertical-align:middle; margin:0;padding:0 5px;}
#cartContainer .letterPanel em{ margin-left:150px; cursor:pointer;color:#581E1C; font-weight:bold;}

.OrderQueryPanel{ background:url(../images/tab-bg.gif) no-repeat; width:742px;height:29px;}
.OrderQueryPanel a{ display:block;background:url(../images/tab-out.gif) no-repeat; width:100px; height:29px; line-height:29px;float:left; cursor:pointer; text-align:center;}
.OrderQueryPanel a:hover,.OrderQueryPanel a.dom_tabs_selected {background:url(../images/tab-over.gif) no-repeat;}

.shadow-one { padding-left: 12px; padding-top: 12px; position: absolute; }
.Popup { position: absolute; width: 17.71em; z-index: 10000; border: medium none; height: auto; left: -10px; top: -10px; width: 780px; }
.corner-a { background: url(../images/popup_shadow.png) no-repeat right top; height: 1em; position: absolute; right: 0; top: 0; width: 1em; }
.corner-b { background: url(../images/popup_shadow.png) no-repeat left bottom; bottom: 0; height: 1em; left: 0; position: absolute; width: 1em; }
.shadow-two { background: url(../images/popup_shadow.png) no-repeat right bottom; }
.shadow-three { background: url(../images/popup_shadow.png) no-repeat left top; left: -1em; position: relative; top: -1em; }
.shadow-four { left: 0.6em; position: relative; top: 0.6em; }
.shadow-four #pop-close { position: absolute; right: 2px; top: 1px; font:bold 13px @宋体;cursor: pointer; color:#660E0F;}
.Popup .content { padding:10px; text-align: left; }