/*reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
body, button, input, select, textarea { font: 12px/1.5 tahoma, arial, simsun, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
/*global layout*/
html, body { font: 12px "宋体"; color: #666; padding: 0; margin: 0; background:#f4f4f4 url(../images/group-b.gif) repeat-x;}
a { color: #666; text-decoration: none; }
a:hover { text-decoration: none; }
#warper { text-align: left; margin: 0 auto; width: 800px; }
#header { }
#container { text-align: left; }
#footer { clear: both; height: 88px; }
/*utils*/
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.clear { clear: both; height: 0; overflow: hidden; display: block; }
.clearfix:after { clear: both; height: 0; overflow: hidden; display: block; visibility: hidden; content: "."; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
*html .clearfix { height: 1%; }
.hide { display: none; }
.pointer { cursor: pointer; }
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
/*#header*/
.header { background: url(../images/g-header-bg.gif) no-repeat; height: 142px; }
.shortcut { height: 32px; line-height: 32px; text-align: right; }
.shortcut img { vertical-align: middle; margin-left: 10px; }
.shortcut a { color: #A27409; }
.logo { height: 45px; text-align: right; padding-top: 57px; }
.logo em { margin: 0 153px 0 0; color: #b73137; }
.top-nav { height: 40px; }
.top-nav li { float: left; margin: 8px 0 0 50px; }
.top-nav li a { width: 85px; text-align: center; display: block; height: 31px; line-height: 31px; font-size: 14px; font-weight: bold; color: #8A0002; }
.top-nav li a:hover, .top-nav li a.hover { background: url(../images/menu_hover.gif) no-repeat; color: #ae0003; }
/*#footer*/
.logoGray { width: 110px; float: left; padding: 0 20px 0 8px; }
.footer { width: 620px; float: left; position:relative; }
.footer li { float: left; padding-right: 5px; color: #b4b4b4; }
.footer li a { color: #b4b4b4; }
.footer li a:hover { text-decoration: underline; color: #666; }
.linksContainer { float: left; width: 620px; margin-bottom: 12px; }
.copyinfo { color: #c1c1c1; }
.copyinfo p { line-height: 1.5em; }
.copyinfo p em { font-family: Arial, Helvetica, sans-serif; }
.share{ background:url(../images/share.gif) no-repeat; height:29px;}
.group-warper,.share { margin: 20px 0 0 8px; }
.group{ height:330px;}
.group-desc { margin: 0 0 20px 8px; }
.group-title {font: 26px/38px "微软雅黑"; background:#7B1415; padding: 8px; margin-right: 2px; color: #fff; }
.group-title b { color: #FBE791; }
.tody-group-info { background: url(../images/gao_center.gif) repeat-y; margin: -3px 0; padding: 0 9px; }
.group { width: 224px; background: #FFF; padding: 10px 0; float: left; }
.group-image { float: left; margin-left: 8px; }
.group-image img { display: block; }
.tody-group-info .clearfix { margin-top: 5px; position: relative; }
.primary_price { font-size: 14px; color: #3e3e3e; padding: 18px 0 80px 20px; width: 180px; }
.primary_price b, .san { font-weight: bold; font-size: 16px; font-family:Arial; }
.san { color: #d70002; }
.rebate { font-size: 14px; color: #fff; background: url(../images/buy-arrow.png) no-repeat; font-family: "arial"; height: 106px; left: -27px; position: absolute; top: 50px; z-index: 2; width: 251px; }
.rebate .mai { padding: 16px 25px 0 0; float: right; }
.xian span { font-size: 30px; font-family: "arial"; font-weight: bold;display: inline-block;text-align: center;width: 110px; }
.time_attr { width: 218px; padding-bottom: 12px; clear: both; background: url(../images/sy_fgx.gif) no-repeat 5px bottom; }
.xian { padding: 20px 0 0 10px; float: left; }
.shen { color: #8f0023;margin: 13px 10px 3px 10px; text-align:center; font:bold 16px "微软雅黑";  }
/*background: url(../images/timer.gif) no-repeat;*/
.last_time { width: 180px; padding: 0 0 5px 22px; margin: 11px 0;height: 50px; overflow:hidden; }
.last_time b { font: 18px "arial"; color: #3d3d3d; line-height: 33px; }
.last_time span { font: 20px "微软雅黑"; margin: 0 10px; display: inline-block; width:70px; color:#373737;}
.last_time em { font-weight: bold;display: inline-block; width:25px;}
.buy_state {margin: 10px 0 0 40px;}
.buy_state p {padding: 2px 0 15px 65px; margin-bottom:15px;background: url(../images/buy-success.gif) no-repeat;} 
.buy_state span,.buy_state b{ font: 18px "微软雅黑"; font-weight: bold; margin-bottom:5px;display: inline-block;}
.buy_state b{ margin-top:8px;}
.buy_state em{font:14px "微软雅黑";margin:10px 0 0 0; display:inline-block;}
#gNum{ font: bold 16px"微软雅黑"; text-align:center; color:#aa0000;}
.renshu { width: 224px; text-align: center; padding: 20px 0 28px 0; }
.renshu b { color: #d74141; }
.group-desc { clear:both;border: solid 1px #a9a9a9; width: 788px; margin-top: 15px;background-color:#FFF; }
.content { width: 490px; float: left; padding:10px;padding-top:0; }
.our-experience-centre {width: 250px; height:1532px;background: url(../images/jiao_bj.jpg) repeat-y 4px 15px; float: left; margin: 20px 0 0 6px; }
.our-experience-centre span { font-size: 14px; color: #8a0002; margin: 20px 0 25px 20px; font-weight: bold; line-height: 30px; }
.expers p { text-indent: 22px; line-height: 24px; width: 250px; }
.tb_list { margin: 25px 0 30px 5px; width: 495px; }
.lest_tit { background: url(../images/tebie_tit.gif) no-repeat; width: 492px; height: 30px; color: #fde37d; font: 17px "微软雅黑"; text-indent: 30px; line-height: 30px; }
.expers { padding-bottom: 120px; }
.expers b { margin: 28px 0 5px 20px; display: block; }
.lest_nr span { color: #d70000; font-weight: bold; }
.lest_nr b, .expers b { font-weight: bold; color: #565656; }
.lest_nr { margin: 12px 0 0 5px; font-size: 14px; line-height: 24px; width: 482px; }
/*往期回顾*/ 
.group-header{ width:798px;background:url(../images/tuan_top2.gif) no-repeat;font-weight:bold; height:38px; text-indent:30px;float:left; margin:20px 0 0 8px;}
.tuan_left{ float:left; font-size:14px;}
.tuan_right{ float:right; margin-right:20px;}
.group-header h3{ float:left; line-height:48px; font-size:14px; text-indent:2.5em;}
.group-header{}
.group-list{background:url(../images/center2.gif) repeat-y;margin:0 0 0 8px; padding:0 10px;width:778px;}
.group-list li{ height:1%; overflow:hidden;background:url(../images/xinqi_bj.gif) no-repeat;margin-bottom:10px;}
.group-list .g-warp{width:763px; height:129px; padding:6px 0 0 6px; margin:8px 0 0 0;}
.group-list .time{ float:left; width:116px; height:120px;background: url(../images/date_bj.gif) no-repeat;}
.group-list .time p span{ display:block;line-height:40px; text-align:center;}
.group-list .time .info_month{color:#da0003;}
.group-list .time .info_day{font-weight:bolder;font-family: "微软雅黑";font-size: 32px; color:#3a3a3a;}
.group-list .time .info_week{font-weight:bold;}
.group-list .photo{ float:left; width:190px; margin:0 10px;}
.group-list .info{ float:left; width:408px; padding:5px 10px; background:url(../images/tuan_fgx.gif) no-repeat left 0px; height:110px;}  
.group-list .info p{line-height:25px; background-color:#FAFAFA;}
.group-list .info h4 a{ display:inline-block;font-size:14px; font-weight:bold; background:url(../images/mail_xian.gif) no-repeat 0 bottom;  padding-bottom:7px; width:418px; text-indent:2px; color:#8a0002;}
.group-list .info h4 a:hover{ text-decoration:underline;}
.group-list .info .p_1{ margin:10px 0 0 0;}
.group-list .info .p_1 .c_tx1{line-height:30px; font:24px Arial;color:#D80000;} 
.info .p_2 span{ margin-right:40px;color:#565656;}
.info .p_2 span em{font:18px Arial;}
.p_2 .c_tx1{ color:#d80000;} 
.p_3 .c_tx1{ color:#D80000;}
.group-list .info .p_3 span{ font-weight:bold; color:#D80000;}
.group-footer{ background:url(../images/bottom3.gif) no-repeat; height:7px; margin:-3px 0 20px 8px;width:798px;}
.group-header,.group-list,.group-footer{ margin-left:5px;}
.zhiai{ color:#333; }
.tuan_haoma{ font:14px "宋体";font-weight:bold; color:#ae0301;}
/*订单确认*/
.EntSelect{ background:#F9E181 url(../images/information.gif) no-repeat 5px center; border:1px solid #B25C5D;height:40px;line-height:40px;font-size:15px; padding:0 25px;margin:10px 0 0 0;color:#8A0002; overflow:hidden;}
.EntSelect input{margin:0 10px 0 2px;}
.zf_tit { width: 742px; background: url(../images/zhufu.jpg) no-repeat; height: 26px; text-indent: 22px; font-size: 14px; color: #710700; font-weight: bold; margin-bottom: 5px; line-height: 20px; }
.zf_mail { width: 742px; margin: 15px 0 0 0; }
.InnerBox { padding: 10px; padding-left: 0; }
.ShipForm label { width: 105px; display: inline-block; text-align: right; } 
.ShipForm { padding-bottom: 15px; }
.ShipForm input, .ShipForm select { border: 1px solid #DCC464; }
.ShipForm label, .ShipForm input, .ShipForm select, .ShipForm em,.ShipForm b{ float: left; } 
.ShipForm em,.ShipForm b{ margin-top:5px;}
.ShipForm b{ margin-left:5px;}
.ShipForm select { margin-right: 10px; }
.ShipForm em { width: auto; margin-left: 5px; }
.InnerBox label { padding-top: 3px; }
.InnerBox li { height: 22px; padding-top:5px; background:none; }
.InnerBox input { vertical-align: middle; height: 16px; padding: 1px 3px; }
.InnerBox em { color: #f60; } 
.dingdan{ margin-top:20px;}
.fukuan { width: 742px;}
.dingdan,.fukuan{ margin-left:20px;}
.sp_tit1 { background: url(../images/kuai_fgx.gif) no-repeat 8px 16px;text-indent: 25px; width: 740px; color: #710700;margin-top: 10px; padding-bottom:10px;}
.sp_tit1 b { font-size: 24px; font-weight: bold; color: Red; font-family: Helvetica; }
.sp_mail { margin: 10px 0 24px 10px;line-height: 2em; padding: 10px 0; }
.sp_mail img{ vertical-align:middle; border-right:25px solid #FFF; cursor:pointer;}
.shanping .sp_mail{ width:700px;}
#PayPlatform img { margin: 10px 0; }  
.sp_tit { width: 742px; background: url(../images/jiesuan_tit.jpg) no-repeat; text-indent: 26px; color: #710700; font-size: 14px; font-weight: bold; line-height: 26px; }
.last-step{ border:1px solid #666; background:#FAFBFC; padding:10px; margin:20px;}
.btnCtrl{padding:20px;}
.ti_di { width: 716px; background: url(../images/kuai_fgx.jpg) repeat-x 10px top; margin: 5px 0 0 4px; }
.ti_tupian { width: 215px; margin: 40px 0 0px 18px; float: left; background: #ededed; }
.xia_pro { width: 109px; border: solid 1px #dbd9d9; margin: 2px; float: left; }
.ti_address { background: url(../images/tiyan_fgxjpg.jpg) no-repeat left 0; width: 400px; float: left; padding: 18px 0 60px 20px; margin: 20px 0 0px 35px; }
.ti_address b{ color:#242424;}
.ti_address p { line-height: 21px; margin-left: 10px; }
.btnReOrder{ display:inline-block; background:url(../images/btnReOrder.gif) no-repeat; width:168px; height:66px;}
.tabHead{ padding:0;}
.tabContainer {width: 719px; }
.tabContainer ul{ width:80%;}
.tabContainer li { float: left; height:34px; padding:0; }
.t1 a { width: 172px; background: url(../images/qichu02.jpg) no-repeat; text-align: center; display: block; line-height: 34px; font-weight: bold; }
.t2 a { width: 172px; background: url(../images/qichu.jpg) no-repeat; text-align: center; display: block; line-height: 34px; font-weight: bold; }
.tabContainer li.currentBtn a:hover, .tabContainer li.currentBtn a { width: 172px; background: url(../images/qichu_hover.jpg) no-repeat; text-align: center; display: block; line-height: 34px; color: #710700; }

/***************************************************
    .service
***************************************************/
#svc{z-index: 8998; position:relative;}
.svc-ctrl{background:url(../images/svc-fold.png) no-repeat 1px top; width:32px; height:97px;margin-top:75px; padding-top:20px; cursor:pointer;}
.svc-warp{ width:175px;z-index: 9999999; position: fixed; top: 50px; right: 0;height:230px;}/*_position: absolute;_top: expression(document.body.scrollTop + 10);*/
.svc-hide{ display:none;} 
#LiveReceptionCode_need_help{ margin-bottom:-4px!important;} 

