<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" encoding="utf-8"#>
namespace Wojoz.IDAL
{
/*
    using Wojoz.Model;
    
    /// <summary>
    ///I<%=this.SourceTable.Name%> 接口
    /// </summary>
    public interface I<%=this.SourceTable.Name%>DAL : IRepositoryBase<<%=this.SourceTable.Name%>Info>
    {
        
    }
*/
}