<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <!--<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>-->
  </configSections>
  <dataConfiguration defaultDatabase="WojozDBConnectionString"/>
  <connectionStrings configSource="configs\db.config"/>
  <appSettings configSource="configs\settings.config"/>
  <RewriterConfig configSource="configs\siteurl.config"/>
  <!--<cachingConfiguration configSource="configs\cache.config" />
  <exceptionHandling configSource="configs\exception.config" />-->
  <system.web>
    <!--<xhtmlConformance mode="Strict"/>-->
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
    -->
    <sessionState cookieless="false" mode="InProc" timeout="60"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpModules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.aspx " type="URLRewriter.RewriterFactoryHandler, URLRewriter "/>
      <add verb="*" path="*.htm " type="URLRewriter.RewriterFactoryHandler, URLRewriter "/>
    </httpHandlers>
    <authentication mode="Forms"/>
    <!--
        如果在执行请求的过程中出现未处理的错误，
        则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
        开发人员通过该节可以配置
        要显示的 html 错误页
        以代替错误堆栈跟踪。
    -->
    <pages configSource="configs\page.config"/>
    <compilation debug="true"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="patti1982@163.com" deliveryMethod="Network">
        <network defaultCredentials="true" host="mail.pt9999.com" port="20" enableSsl="true" userName="patti" password="pt9999.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
    </modules>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="index.html"/>
        <add value="index.htm"/>
        <add value="index.php"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>