<?xml version="1.0"?>
<Payment>
  <Item Code="001" Name="Alipay" PayOnlineProviderUrl="https://www.alipay.com/cooperate/gateway.do?" MerchantID="2088101147064570" Key="gebkrkj0p9wzyluaprrcilcao52sremh|2088101147064570" NotifyUrl="/Payment/Alipay_Return.aspx">支付宝</Item>
  <Item Code="002" Name="Alipay" PayOnlineProviderUrl="https://www.alipay.com/cooperate/gateway.do" MerchantID="2088101147064570" Key="gebkrkj0p9wzyluaprrcilcao52sremh|2088101147064570" NotifyUrl="/Payment/Alipay_Return.aspx">支付宝即时到帐</Item>
  <Item Code="003" Name="Tencent" PayOnlineProviderUrl="https://www.tenpay.com/cgi-bin/v1.0/pay_gate.cgi" MerchantID="1204790601" MerchantKey="a75ee55ded934c96968f747c809005b9" NotifyUrl="/Payment/PayResultTenpay.aspx">财付通</Item>
  <Item Code="004" Name="CCB" PayOnlineProviderUrl="https://ibsbjstar.ccb.com.cn/app/ccbMain" MerchantID="105584073990057" Key="30819c300d06092a864886f70d010101050003818a003081860281807cd21042439755abab54981724a366a66913258fcbc6075555e973d48137e22eedd5ab5f3be57404a30795e71f6f4c8f31d4715e3e0d1985426ed51c131bee24448202f3c777558c0e5b23cac643a5bed52719fef620548c6608377d5a86fd57cb8cb67272656cbd9dd8d796dc5613400edb1905b7802a7e7bcd673c3d23d3bf020111" NotifyUrl="/Payment/PayResultCcb.aspx">中国建设银行</Item>
  <Item Code="005" Name="BOC" PayOnlineProviderUrl="/Payment/merchant.aspx" MerchantID="" Key="" NotifyUrl="/Payment/PayResultBocomm.aspx">中国交通银行</Item>
  <Item Code="006" Name="ICBC" PayOnlineProviderUrl="https://mybank.icbc.com.cn/servlet/ICBCINBSEBusinessServlet" MerchantID="4000EC20001125" Key="" NotifyUrl="/Payment/PayResultBocomm.aspx">中国农业银行</Item>
  <Item Code="007" Name="ABC" PayOnlineProviderUrl="" MerchantID="" Key="" NotifyUrl="/Payment/PayResultABC.aspx">中国农业银行</Item>
  <Item Code="008" Name="CMSB" PayOnlineProviderUrl="https://ebank.cmbc.com.cn/weblogic/servlets/EService/CSM/B2C/servlet/ReceiveMerchantCMBCTxReqServlet" MerchantID="" Key="" NotifyUrl="">中国民生银行</Item>
  <Item Code="009" Name="CMBC" PayOnlineProviderUrl="" MerchantID="" Key="" NotifyUrl="">中国招商银行</Item>
</Payment>
